<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form [formGroup]="addRegisterForm">
  <table>
    <tbody>
    <tr>
      <td><label for="input-userName">Name:</label></td>
      <td><input id="input-userName" formControlName="userName"></td>
    </tr>
    <tr>
      <td><label for="input-password">Password:</label></td>
      <td><input id="input-password" formControlName="password"></td>
    </tr>
    <tr>
      <td><label for="input-bio">Bio:</label></td>
      <td><input id="input-bio" formControlName="bio"></td>
    </tr>
    <tr>
      <td><label for="input-location">Location:</label>
      <td><input id="input-location" formControlName="location"></td>
    </tr>
    <tr>
      <td><label for="input-website">Website:</label></td>
      <td><input id="input-website" formControlName="website"></td>
    </tr>
    <tr>
      <td><label for="input-profilePicture">Profile picture:</label></td>
      <td><input id="input-profilePicture" formControlName="profilePicture"></td>
    </tr>
    <tr>
      <td>
        <button (click)="addUser()">Register</button>
      </td>
    </tr>
    </tbody>
  </table>
</form>
</body>
</html>
