<form [formGroup]="addHomePageForm">
  <body>
  <button (click)="logOut()">log out</button>
  <table>
    <tbody>
    <tr>
      <td><label for="input-tweetContent">Content:</label></td>
      <td><input id="input-tweetContent" formControlName="tweetContent"></td>
      <td>
        <button (click)="createTweet()">create tweet</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div style="margin: 10px">
    <ngb-accordion [closeOthers]="true" [activeIds]="activeId">
      <ngb-panel *ngFor="let post of timeline; let id = index" id="{{id}}">
        <ng-template ngbPanelHeader>
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="display-3">{{post['tweetContent']}}</h5>
            <button [ngbPanelToggle] (click)="openAccordion(id)" class="btn btn-link">Comments</button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div *ngFor="let comment of post['comments']" class="card">
            <div class="card-header">
              <h4 (click)="openUserPage(comment['commentCreator']['creatorId'])">  {{comment['commentCreator']['creatorName']}}</h4>
            </div>
            <div class="card-body">
              <p class="card-text display-4">{{comment['commentContent']}}</p>
            </div>
          </div>
          <button (click)="postComment(post)">place comment</button>
          <input formControlName="commentContent"/>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  </body>
</form>

