<form [formGroup]="addHomePageForm">

  <H1>Home</H1>
  <body>
  <button (click)="logOut()">log out</button>
  <table>
    <tbody>
    <tr>
      <td><label for="input-tweetContent">Content:</label></td>
      <td><input id="input-tweetContent" formControlName="tweetContent"></td>
      <td>
        <button (click)="createTweet()">create tweet</button>
      </td>
    </tr>
    </tbody>
    <!--<tbody *ngFor="let post of timeline">-->
    <!--<tr>-->
      <!--<td> {{post["content"]}}</td>-->
      <!--<td>{{post["postCreator"]}}</td>-->
      <!--<td> <button *ngIf="post['id'] !== selectedPostId" (click)="createComment(post);">comment </button></td>-->
      <!--<td> <button *ngIf="post['id'] === selectedPostId" (click)="postComment(post);">post </button></td>-->
      <!--<td><input *ngIf="post['id'] === selectedPostId" id="input-commentContent" formControlName="commentContent"/></td>-->
    <!--</tr>-->
    <!--</tbody>-->
  </table>
  <ngb-accordion *ngFor="let post of timeline" activeIds="custom-panel-1">
    <ngb-panel id="custom-panel-1">
      <ng-template ngbPanelHeader let-opened="opened">
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="m-0">{{post['content']}}</h5>
          <button ngbPanelToggle class="btn btn-link p-0">Comments</button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <table class="table table-striped">
          <tbody *ngFor="let post of timeline">
          <tr>
            <td> {{post["content"]}}</td>
            <td>{{post["postCreator"]}}</td>
          </tr>
          </tbody>
        </table>
        <button (click)="postComment(post)">place comment</button>
        <input formControlName="commentContent"/>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>




  </body>
</form>

